<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LoginValidation</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.bridgelab.login.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistrationController</servlet-name>
    <servlet-class>com.bridgelab.login.RegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationController</servlet-name>
    <url-pattern>/RegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
   
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.bridgelab.login.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AuthonticationsFilter</display-name>
    <filter-name>AuthonticationsFilter</filter-name>
    <filter-class>com.bridgelab.login.AuthonticationsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthonticationsFilter</filter-name>
    <url-pattern>/WelCome.jsp</url-pattern>
  </filter-mapping>
</web-app>